* {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    justify-content: center;
}


.buttonsWrapTest {
    display: flex;
    flex-direction: column;
}

.buttonTest {
    width: 100px;
    height: 50px;
}

.locationListWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#buttonAddNew {
    margin-top: 10px;
}

.locationListWrap form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.locationList {

}

.locationList__title {
    text-align: center;
    margin-top: 10px;
}

.locationList__element {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.yandexMap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

